.container{
    display: flex;   
    box-shadow: 0 1px 2px #ccc;
}

.dateField {
  display: flex;
  position: relative;
  align-items: center;
  min-width: 240px;
  padding: 11px;
  font-size: 16px;
  color: #333;
  font-family: 'Roboto';
    border-bottom: 2px solid white;
}

.dateField.active {
    border-bottom: 2px solid blue;
}

.left{
    justify-content: flex-end;    
}
.updateBtn
.right{
    justify-content: flex-start;
}

.error{
    border-bottom: 2px solid red;
  background: #ffe2e1
}