.container{
    width: max-content;
}

.row{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.updateBtn{
    border: 3px solid dodgerblue;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 2px;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    background: dodgerblue;
    cursor: pointer;
}

.updateBtn:hover{
    background: blue;
}

.calendarBtn{
    padding: 8px;
    background: #ffffff;
    box-shadow: 0 1px 2px #ccc;
    height: 43px;
}

.rgba{
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}